@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-bg-primary: #6157ff;
  --color-bg-secondary: #ee49fd;
  --color-white: #faf6f6;
  --color-text: #333;
}

html {
  background-image: linear-gradient(
    to right,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Lexend Deca";
  min-height: 120vh;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds space between Chat & Workspace */
  height: 80vh;
  background: rgb(251, 202, 236);
  padding: 30px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
}
